
body{
    padding:0;
    margin:0;
    background-image: url(images/bg_todo.gif);
    background-repeat: no-repeat;
    background-size: auto;
    background-size: cover;    
    
}

.body{
    background-color: #fff;
    margin: 100px 20px 100px 20px;
    border-radius: 20px;
}

.project{
    background-color: antiquewhite;
}

div{
    padding:5px 5px 5px 5px;
}

.project{
    padding:50px 50px 50px 50px;
    
}
.container{
    padding:20px 20px 20px 20px;
    align-items: center;

}

.color_changer, .calculator{
    text-align: center;
}

.btn{
    display: inline-block;
    border: 2px solid black;
    height:100px ;
    width:100px;
}

#gray{
    background-color: gray;
}

#pink{
    background-color: pink;
}

#green{
    background-color: green;
}

#yellow{
    background-color: yellow;
}

#red{
    background-color: red;
}


form{
    background-color: aquamarine;
    padding: 10px 10px 10px 10px;
    background-color: aquamarine;
    border-radius: 30px;
    
}

form div{
    padding:15px 0px 15px 0px;
    
}
input{
    flex:1;
    border:none;
    outline:none;
    background:transparent;
    padding: 10px;
    font-weight:14px;

}
button{
    background:rgb(96 120 97 / 36%);
    padding:10px 30px 10px 30px;
    color:white;
    border-radius: 20px;
}
#results{
    color:red;
    font-size: x-large;
}

#clock{
    font-size: 40px;
    background:rgb(156, 99, 33);
    border-radius: 50px;
    padding:20px 30px 20px 30px;

}

.card{
    width: 90%;
    
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;

    border-radius: 20px;
    padding:5px 20px 5px 20px;
    text-align: center;
}

.search{
    width:100%;
    display:flex;
    align-items: center;
    justify-content: space-around;
}

.search input{
    border:0;
    outline:0;
    background: #ebfffc;
    color:#555;
    padding:10px 25px;
   
    border-radius:10px;
   
    cursor:pointer;
}

.weather-icon{
    width:170px;
}

weather h2{
    font-size: 80px;
    font-weight: 500;
}
weather h3{
    font-size: 45px;
    font-weight: 400;
    margin-top:-20px;
}
.details{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:0 20px;
    margin-top:10px;
}

.col{
    display:flex;
    align-items: center;
    text-align: left;

}
.col img{
    width:80px;
    margin-right:10px;
}

.humidity , .wind{
    font-size: 28px;
   
}

.search img{
    width: 43px;
    height:34px;
}
 .weather{
    display: none;
 }
.weatherapp{
    padding:5px 300px 5px 300px;
    text-align: center;
}

@media (max-width:412px) and (max-width:700px){
    .weatherapp{
        padding:0px;
    }

}
@media (max-width:600px) and (max-width:900px){
    .weatherapp{
        padding:0px;

    }

}


.search button{
    background: #ebfffc;
    border-radius: 70%;
    padding:10px;
    border:none
}

.error{
    text-align: center;
    margin-left:10px;
    font-size:14px;
    display:none;


}

@media (max-width:412px) and (max-width:700px){
    .details{
        display:inline-block;
        
    }
  

}


.todo-app{
    width:100%;
    max-width:540px;
    background:#fff;
    margin:20px auto 20px;
    padding:40px 30px 70px;
    border-radius: 20px;
}

.todo-app h2{
    color:#002765;
    display: flex;
    align-items:center;
    margin-top: 10px;
}

.row{
    display:flex;
    align-items: center;
    justify-content: space-between;
    background:#edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom:25px;
}

.todo-app button{
    border:none;
    outline:none;
    padding:16px 50px;
    background-color: #ff5945;
    color:#fff;
    font-size: 16px;
    cursor:pointer;
    border-radius: 40px;
}

ul li{
    list-style: none;
    font-size: 17px;
    padding:12px 8px 12px 50px;
    user-select: none;
    cursor:pointer;
    position: relative;
}
ul li::before{
    content: '';
    position:absolute;
    height:28px;
    width:28px;
    border-radius: 50%;
    background-image: url(images/uncheck.png);
    background-position: cover;
    background-position: center;
    top:12px;
    left:8px;

}

ul li.checked{
    color:#555;
    text-decoration:line-through;
}
ul li.checked::before{
    background-image: url(images/check.png);
}

ul li span{
    position:absolute;
    right:0;
    top:5px;
    width:40px;
    height:40px;
    font-size: 22px;
    line-height:40px;
    text-align: center;
}

ul li span:hover{
    background-color: #b9c1c0;
}

.todo{
   

}