
body{
    padding:0;
    margin:0;
    
}

.project{
    background-color: antiquewhite;
}

div{
    padding:5px 5px 5px 5px;
}

.project{
    padding:50px 50px 50px 50px;
    
}
.container{
    padding:20px 20px 20px 20px;
    align-items: center;
}

.color_changer, .calculator{
    text-align: center;
}

.btn{
    display: inline-block;
    border: 2px solid black;
    height:100px ;
    width:100px;
}

#gray{
    background-color: gray;
}

#pink{
    background-color: pink;
}

#green{
    background-color: green;
}

#yellow{
    background-color: yellow;
}

#red{
    background-color: red;
}


form{
    background-color: aquamarine;
    padding: 10px 10px 10px 10px;
    background-color: aquamarine;
    border-radius: 30px;
    
}

form div{
    padding:15px 0px 15px 0px;
    
}
input{
    width:200px;
}
button{
    background:rgb(96 120 97 / 36%);
    padding:10px 30px 10px 30px;
    color:white;
    border-radius: 20px;
}
#results{
    color:red;
    font-size: x-large;
}

#clock{
    font-size: 40px;
    background:rgb(156, 99, 33);
    border-radius: 50px;
    padding:20px 30px 20px 30px;

}

.card{
    width: 90%;
    
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;

    border-radius: 20px;
    padding:10px 20px 0px 20px;
    text-align: center;
}

.search{
    width:100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.search input{
    border:0;
    WIDTH:60%;
    outline:0;
    background: #ebfffc;
    color:#555;
    padding:10px 25px;
   
    border-radius:10px;
   
    cursor:pointer;
}

.weather-icon{
    width:170px;
}

weather h2{
    font-size: 80px;
    font-weight: 500;
}
weather h3{
    font-size: 45px;
    font-weight: 400;
    margin-top:-20px;
}
.details{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:0 20px;
    margin-top:10px;
}

.col{
    display:flex;
    align-items: center;
    text-align: left;

}
.col img{
    width:80px;
    margin-right:10px;
}

.humidity , .wind{
    font-size: 28px;
   
}

.search img{
    width: 43px;
    height:34px;
}

.weatherapp{
    padding:5px 300px 5px 300px;
}

@media (max-width:412px) and (max-width:700px){
    .weatherapp{
        padding:0px;
    }

}